body {
    width: 100%;
    height: 100%;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: #bc1c42;
}

h1 {
    margin-top: 0px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

img {
    width: 100%;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus{
    border: 2px solid #3498DB;
    box-shadow: none;
}

input [type=submit]{
  background-color: #3498DB;
  color: white;
}

button {
    height: 35px;
    width: 150px;
    font-size: 16px;
}

button {
    padding: 8px 10px;
    border-radius: 1px;

    background-color: #3498DB;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0;
    text-align: center;
    border-color: white;

    -webkit-transition: 0.15s background ease;
       -moz-transition: 0.15s background ease;
        -ms-transition: 0.15s background ease;
         -o-transition: 0.15s background ease;
            transition: 0.15s background ease;
}

button:hover, button:focus {
    background-color: #2980B9;
}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}

.centered {
    position: fixed;
    margin-top: 10%;
    left: 50%;
    margin-left: -75px;
}

.top {
    margin-top: 50px;
}

#slider {
    float: left;
    width: 150px;
}

/* Display of the live stream */
#video {
    margin: 25px auto;
    height: 100%;
}

/* Connection indicator */
#dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
}

/* The contianer for dropdown - needed to position the content */
.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* show the dropdown menu */
.show {
    display: block;
}

/* Top 'menu' bar*/
.topbar {
    overflow: hidden;
    padding-left: 5px;
}

/* Bottom  'menu' bar */
.bottombar {
    height: 35px;
    color: #fff;
    overflow: hidden;
}

.bottombar p, input, span, button{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    display: inline-block;
    line-height: 35px;
    vertical-align: top;
}
