<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% extends "layout.html" %}
{% block body %}
{% if session['logged_in'] %}
<p>You're already logged in!</p>
<button id="homeButton">Home</button>

<script type="text/javascript">
	document.getElementById("homeButton").onclick = function () {
		location.href = "http://" + window.location.hostname + ":255/";
	};
</script>
{% else %}
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<input type="username" name="username" placeholder="username">
			<input type="password" name="password" placeholder="current-password">
			<input type="submit" value="Log in">
		</div>
    </div>
</form>
{% endif %}
{% endblock %}
